*{
    margin: 0;
    padding: 0;
}

.App {
  text-align: center;
  background-color: #77212E;
  min-height: 100vh;
  color: white;
  font-size: 1rem;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-bottom: 2rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.field-chat{
  padding-left: 5px;
  min-height: 2rem;
  min-width: 25rem;
  text-align: center;

}

.button-chat{
  margin-top: 10px;
  min-height: 2rem;
  min-width: 5rem;
  border-radius: 15px;
}

.chat-list{
  list-style: none;
}

.chat-header{
  font-size: 3rem;
  font-weight: 500;
}

.message-chat {
  margin: 20px auto;
  display: block;
  background-color: #F5D6C6;
  width: 30vw;
  border-radius: 15px;
}

.message-autor {
  color: purple;
  padding-top: 10px;
}

.message-body {
  color: darkblue;
  padding-bottom: 10px;
}